<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Healthcare</title>
    <style>
        .titleBar{
            display : flex;
            align-items : center;
            height : 100px;
            background-color : black;
        }
        .titleText{
            font-size : 2em;
            color : white;
            margin-left : 40px;
        }
    </style>
</head>
<body>
    <div class="titleBar">
        <div class="titleText">DonateMedical</div>
    </div>
            @RenderBody()
</body>
</html>
