@model Healthcare.Models.Request
@using System.Collections.Generic;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "UserLayout";
    string errorMessage = ViewBag.errorMessage;
    List<Medicine> medicineList = ViewBag.medicineList as List<Medicine>;
    HashSet<string> catagories = new HashSet<string>();
    HashSet<string> names = new HashSet<string>();
    if(medicineList!=null && medicineList.Count > 0)
    {
        foreach (Medicine med in medicineList)
        {
            catagories.Add(med.category);
            names.Add(med.name);
        }
    }

}
<!DOCTYPE html>
<html>
<head>
    <style>
        input,select{
            min-width : 200px;
        }

    </style>
    <title>Request and Donate</title>
</head>
<body>
    <h3><label>Request Medicine</label></h3>
    <form asp-action="Index" method="post">
        <select asp-for="medicineCatagory" id="medCategory">
            <option value="null">Select Catagory</option>
            @foreach (string op in catagories)
            {
                <option value=@op>@op</option>
            }
        </select>
        <select asp-for="medicineName" id="medName">
            <option value="null">Select Med Name </option>
            @foreach (string name in names)
            {
                <option value=@name>@name</option>
            }
        </select>
        <input readonly value="Available Quantity" id="availQuantity"/>
        <input asp-for="requestedQuantity" id="quantity" type="number" placeholder="Quantity"/>
        <button type="submit" id="submitRequest">Submit</button>
        <div id="message">@errorMessage</div>
    </form>
    <br />
</body>
</html>
