@model Healthcare.User;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>
    <head>
        <style>
            .fullBody{
                display : flex;
                align-items : center;
                justify-content : center;
                height : 100%;
                width : 100%;
            }
            .container{
                display : flex;
                align-items : center;
                justify-content : center;
                margin-top : 100px;
                height : 500px;
                width : 400px;
                border : 1px solid grey;
            }
        </style>
        <title>Login</title>
    </head>
    <body>
        <div class="fullBody">
            <div class="container">
                <form method="post">
                    <h3>Log in</h3>
                    <br />
                    <br />
                    <label>Username</label>
                    <br />
                    <input asp-for="username" type="text" id="userName" />
                    <br />
                    <label>Password</label>
                    <br />
                    <input asp-for="password" type="password" id="password" />
                    <br />
                    <button type="submit" id="login">Login</button>
                    <br />
                    <div id="error">Invalid Input</div>
                    <br />
                    <a href="#">Register</a>
                </form>
            </div>
        </div>
    </body>
</html>