
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "AdminLayout";
    List<Medicine> allMedicines = ViewBag.allMedicines as List<Medicine>;
}
<!DOCTYPE html>

<html>
<head>
    <style>
        tr,th{
            border : 1px solid black;
            min-width : 300px;
        }
    </style>
    <title>Admin Home</title>
</head>
<body>
    <h3><label>Available Medicine Details</label></h3>
    <br />
    <table>
        <tr>
            <th><label>Medicine Id</label></th>
            <th><label>Medicine Name</label></th>
            <th><label>Medicine Category</label></th>
            <th><label>Medicine Quantity</label></th>
        </tr>
        @if(allMedicines.Count > 0)
            {
                @foreach (Medicine med in allMedicines)
                {
                    string medId = string.Format("medId{0}", med.id.ToString());
                    string medName = string.Format("medName{0}", med.id.ToString());
                    string medCategory = string.Format("medCategory{0}", med.id.ToString());
                    string medQty = string.Format("medQty{0}", med.id.ToString());
                    <tr>
                        <th><label id=@medId>@med.id</label></th>
                        <th><label id=@medName>@med.name</label></th>
                        <th><label id=@medCategory>@med.category</label></th>
                        <th><label id=@medQty>@med.quantity</label></th>
                    </tr>
                }
            }
    </table>
    @if (allMedicines.Count == 0)
    {
        <label id="noData">No medicines found</label>
    }
</body>
</html>